.mainmenu {
    background-color: #028673;
    padding-top: 25px;
    padding-bottom: 14px;
}

.logobox {
    text-align: center;
    clear: #fff;
}



.logo {

}

.logo a{
    text-decoration: none;
    background: #fff;
    padding: 10px;
    border-radius: 4px 18px 4px 17px;
    font-size: 20px;
    font-weight: bold;
}

.thememenu {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 28px;
}


.thememenu ul a{
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    font-size: 18px;
}

/* footer area */

.footerARea {
    background-color: #1c282e;
    text-align: center;
    padding: 30px 0;
}

.footerARea p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}